.contain{
  max-width: 1024px;
}

.all-countries {
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: transform 0.3s ease-in-out;
}



.all-countries h5 {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: rgba(28, 31, 64, 0.8);
  margin-left: 15px;
}

.country-image {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

.allCountry-heading h4 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: rgba(59, 63, 118, 1);
  margin: 20px 0;
}

.allCountry-heading span {
  color: rgba(59, 63, 118, 0.3);
}

@media (max-width: 768px) {
  .all-countries {
    align-items: center;
    text-align: center;
  }

  .all-countries h5 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .country-image {
    width: 70px;
  }

  .allCountry-heading h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .all-countries {
    padding: 8px;
  }

  .country-image {
    width: 30px;
    border-radius: 4px;
  }

  .allCountry-heading h4 {
    font-size: 1.2rem;
  }
}




